<div id="container">
	<section>
		<%=form_for @book, url: book_shop_book_path(@book_shop, @book) do |f|%>
		<p>
			<%=f.label "Enter Book name", :class=>"form_label"%>
			<%=f.text_field :book_name, :class=>"form_field", :placeholder=>"Eg: Ruby On rails"%>
		</p>	
		<p>
			<%=f.label "Enter Book Description" , :class=>"form_label"%>
			<%=f.text_area :book_description, :cols=>30,:rows=>2, :class=>"form_field",:placeholder=>"Eg: Learn Web Development with Rails"%>
		</p>
		<p>
			<%=f.label "Enter Book Price", :class=>"form_label"%>
			<%=f.text_field :book_price, :class=>"form_field",:placeholder=>"Eg: 200"%>
		</p>
		<p>	
			<%=f.label "Enter Book Author", :class=>"form_label"%>
			<%=f.text_field :book_author, :class=>"form_field",:placeholder=>"Eg: Michael Hartl"%>
		</p>
		<p>
		<%=f.submit("Create New Shop", :class=>"form_submit")%>
		</p>
		<%end%>
	</section>
</div>