<div id="container">
	<section>
	<%if @shop.errors.full_messages.any?%>
		<%@shop.errors.full_messages.each do |e|%>
		<div class="error"><%=e%><br></div>
		<%end%>
		<%end%>
		<%if flash[:msg]%>
			<div class="error"><%=flash[:msg]%></div>
		<%end%>
		<%=form_for @shop do |f|%>
		<p>
			<%=f.label "Enter Shop name", :class=>"form_label"%>
			<%=f.text_field :shop_name, :class=>"form_field", :placeholder=>"Eg: ekta Books"%>
		</p>	
		<p>
			<%=f.label "Enter Shop Location" , :class=>"form_label"%>
			<%=f.text_field :shop_location, :class=>"form_field",:placeholder=>"Eg: lalitpur"%>
		</p>
		<p>
			<%=f.label "Enter Shop Phone Number", :class=>"form_label"%>
			<%=f.text_field :phone_number, :class=>"form_field",:placeholder=>"Eg: 999999999"%>
		</p>
		<p>	
			<%=f.label "Enter Shop Email Address", :class=>"form_label"%>
			<%=f.text_field :email_address, :class=>"form_field",:placeholder=>"Eg: ekta@ekta.com"%>
		</p>
		<p>
			<%=f.label "Upload Shop Logo", :class=>"form_label"%>
			<%=f.file_field :image, :class=>"file_field",:placeholder=>"Eg: ekta@ekta.com"%>
		</p>
		<p>
		<%=f.submit("Create New Shop", :class=>"form_submit")%>
		</p>
		<%end%>
	</section>
</div>